.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html,body,#map { height: 100%; }

body {
    padding-bottom: 30px;
    min-width: 200px;
}

footer {
    text-align: center;
}


.gallery-box {
    /*width: 200px;*/
    padding: 5px;
    margin: 7px;
    /*float: left;*/
    min-height: 200px;
    /*border: 1px solid #ddd;*/
    /*overflow: hidden;*/
}
.gallery-box .progress {
    margin-bottom: 0;
}
.gallery-box .thumbnail {
    height: 188px;
    width: 188px;
}
.gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
}

.modal-important {
    -webkit-transform: initial !important;
    -ms-transform: initial !important;
    -o-transform: initial !important;
    transform: initial !important;

}

.dislike-disable {
    cursor: default;
    pointer-events: none;
    background-image: linear-gradient(to bottom,#E9CFCC 0,#D08684 100%);
}


.like-disable {
    cursor: default;
    pointer-events: none;
    background-image: linear-gradient(to bottom,#C3F7C3 0,#72F972 100%);
}

map {
    /*position:absolute;*/
    width: 100%;
    height: 100%;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;

}

.myheader
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
}

.mycontainer {
    position: absolute;
    top: 50px;
    bottom: 30px;
    right: 0;
    left: 0;
    overflow-y: auto;
}

.myfooter{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
}
