<div ng-controller="ModalCreateQuestionCtrl as cuc">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add your message</h3>
        </div>
        <div class="modal-body">
            <form id="CreateQuestionForm" name="CreateQuestion" class="form-horizontal" role="form" ng-submit="createQuestion()">
                <div class="row" >
                    <div class="col-sm-12 text-right">

                        <textarea class="form-control" name="question" id="question" placeholder=""
                            ng-model="question.text" onfocus="if(this.value=='Type here your message')this.value='';"
                            onblur="if(this.value=='')this.value='Type here your message';"> </textarea>
                    </div>
                </div>

                <div flow-init
                    flow-files-submitted="blockAdd=true; $flow.upload()"
                    flow-complete="blockAdd=false;"
                    flow-file-added="validate($file)"
                    flow-file-success="fileMessageUploadSuccess($file, $flow, $message)">

                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-12  text-right">
                            <a ng-href="/#/" id="btn_question" class="btn btn-primary" ng-click="createQuestion($flow)"
                                ng-disabled="blockAdd || !isAuthenticated()">Create message</a>
                            <a ng-href="/#/" id="btn_login" class="btn btn-link" ng-click="openLoginWindow()" ng-show="!isAuthenticated()">Please login</a>
                            <a ng-href="/#/" id="btn_cancel" class="btn btn-warning" ng-click="cancel()">Close</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12  text-right" style="margin-top: 5px; ">
                            <div class="drop" flow-drop="" ng-class="dropClass" style="border: 2px #f1f1f1 dashed; padding-top: 15px; padding-bottom: 15px;">
                                <span class="btn btn-primary" flow-btn style="margin-right: 20px;"
                                    ng-disabled="!isAuthenticated()">Upload Image</span>
                                <b>OR</b>
                                    Drag And Drop your file here
                            </div>
                        </div>
                    </div>

                    <div ng-repeat="file in $flow.files" class="gallery-box">
                        <div class="row" >
                            <div class="col-sm-4 thumbnail" ng-show="$flow.files.length" style="margin-bottom: 10px;">
                                <img flow-img="file" />
                            </div>
                            <div class="col-sm-8">
                                <div class="row" >
                                    <div class="col-sm-12 text-left" >
                                        <label id="lbl_{{file.id}}" for="{{file.id}}" class="control-label">Picture comments:</label>
                                        <br>
                                        <textarea class="form-control" name="{{file.id}}" id="{{file.id}}" placeholder=""
                                            onfocus="if(this.value=='Comments for the picture')this.value='';"
                                            onblur="if(this.value=='')this.value='Comments for the picture';"
                                            ng-model="file.text">Comments for the picture</textarea>
                                    </div>
                                </div>
                                <div class="row" >
                                    <div class="col-sm-12 text-right" style="padding-top: 10px;">
                                        <a class="btn btn-xs btn-danger" ng-click="messageFileCancel(file); ">
                                            <b>Remove image</b>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="progress progress-striped" ng-class="{active: file.isUploading()}" style="height: 3px;">
                                <div class="progress-bar" role="progressbar"
                                    aria-valuenow="{{file.progress() * 100}}"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    ng-style="{width: (file.progress() * 100) + '%'}">
                                    <span class="sr-only">{{file.progress()}}% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="error in errors">
                            {{error.error}} - {{error.file.name}}
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </script>
</div>
