@(message : Option[Question], javascripts: Seq[String] , env: com.mohiva.play.silhouette.api.Environment[User, _])
@import com.mohiva.play.silhouette.impl.providers._
@import models.Question
<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Please, do me favour...</title>
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned(s"images/marker/marker_logo.ico")" />
        <script src="//maps.google.com/maps/api/js"></script>

        <script src='@routes.Assets.versioned("lib/angularjs/angular.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("lib/angularjs/angular-route.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("lib/angularjs/angular-cookies.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("lib/angular-ui-bootstrap/ui-bootstrap-tpls.js")' type="text/javascript"></script>
        <script src="//cdn.rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>

        <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        @*
        <script src='@routes.Assets.versioned("javascripts/angular-file-upload.min.js")' type="text/javascript"></script>
*@


        <script src='@routes.Assets.versioned("javascripts/flow.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("javascripts/fusty-flow.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("javascripts/fusty-flow-factory.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("javascripts/ng-flow.js")' type="text/javascript"></script>
            <!-- Image gallery  START-->
        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/ngGallery.js")'></script>
            <!-- Image gallery  END-->

            <!-- Auth  START-->
        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/satellizer.js")'></script>
            <!-- Auth  END-->

        <!-- Slide -->
        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/angular-pageslide-directive.js")'></script>
        <!-- Slide-->

        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/angular-cookie.min.js")'></script>

            <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")'>
        <link rel="stylesheet" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap-theme.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
            <!-- Image gallery  START-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/ngGallery.css")'>
            <!-- Image gallery  END-->
    </head>
    <body><nav ng-controller="MainAuthCtrl as mac" class="navbar navbar-inverse navbar-static-top myheader"
                role="navigation" >
            <div class="container-fluid navbar-inverse" >
                <div class="col-sm-3">
@*                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                    <a class="navbar-brand" href="#">Please, do me favour...</a>

                </div>
                <div class="col-sm-9" >
                    <div class="row" >
                        <div class="col-sm-5 pull-right" ng-if="!isAuthenticated()">

                            <span class="pull-right">
                            @defining(env.providers.values.filter(_.isInstanceOf[SocialProvider])) { providers =>
                                @if(!providers.isEmpty) {
                                    <div class="social-providers">
                                        <span style="color: #e3e3e3">
                                            Please login...
                                        </span>
                                        @for(p <- providers) {
                                            <a href="#" ng-click="authenticate('@p.id')" class="provider @p.id">
                                                <img src="@routes.Assets.versioned(s"images/providers/${p.id}.png")"
                                                style="width:32px;height:32px; margin: 10px;">
                                            </a>
                                        }
                                    </div>
                                }
                            }
                            </span>
                        </div>
                            <div class="col-sm-3 pull-right" ng-if="isAuthenticated()">
                                <span class="pull-right">

                                    <span style="color: #e3e3e3; ">
                                        User name:
                                            <span style="font-weight: bold;text-decoration: underline;">
                                                {{user.string ? user.string : 'none'}}</span>
                                    </span>
                                    <a href="#" ng-click="signOut()" >
                                        <img src="@routes.Assets.versioned(s"images/logout.png")"
                                        style="width:32px;height:32px; margin: 10px;">
                                    </a>
                                </span>
                            </div>
                            <div class="col-sm-2 pull-right" style="padding-top:15px;" ng-if="isAuthenticated()">
                                <form class="form-inline">
                                    <span class="pull-right">
                                        <span style="color: #e3e3e3; ">
                                            only mine: <input type="checkbox" ng-change="showOnlyMine(showMine);" class="form-control"
                                        style="margin-left: 10px; margin-top: 0; height: 20px;" ng-model="showMine">
                                        </span>
                                    </span>
                                </form>
                            </div>

                            <div class="col-sm-2 pull-right" style="padding-top:15px;" ng-if="isAuthenticated()">
                                <div ng-controller="pageslideCtrl">
                                    <a class="tiny button" href="" ng-click="toggle()">Show recent</a>
                                    <div pageslide ps-open="checked" ps-side="left" ps-push="true" ps-click-outside="false">
                                        <div style="padding:20px" id="demo-right">
                                            <h2>Recent</h2>
                                            <div class="row" ng-repeat="qdata in questions.slice(((bigCurrentPage-1)*numPerPage), ((bigCurrentPage)*numPerPage))" style="padding-bottom: 10px;">
                                                <div class="col-sm-1 ">
                                                    <a href="#" >
                                                        <img src="@routes.Assets.versioned(s"images/marker/marker_{{qdata.icon}}.png")" >
                                                    </a>
                                                </div>
                                                <div class="col-sm-9 ">
                                                    <a href="#" class="" ng-click="openQuestion(qdata.question.qid)">
                                                        {{qdata.question.text | limitTo:100 }}<span ng-if="qdata.question.text.length >100">...</span>
                                                    </a>
                                                </div>
                                                <div class="col-sm-2 ">
                                                    <a href="#" ng-click="showOnMap(qdata.question.qid)">
                                                        on map
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row" ng-show="!questions.length" style="padding-bottom: 10px;">
                                                <div class="col-sm-11 ">
                                                    <i>
                                                        No results.
                                                    </i>
                                                </div>
                                            </div>
                                            <a ng-click="toggle()" class="button" >Close</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 pull-right " style="padding-top:12px;">
                                <div class="row">
                                    <div class="col-md-5" style="padding-top: 3px;">
                                        <span class="pull-right " style="color: #e3e3e3; ">
                                            Search:
                                        </span>
                                    </div>
                                    <div class="col-md-5" style="padding-top: 1px;">
                                        <span class="pull-right " style="color: #e3e3e3; ">
                                             <input id="search_text" type="text" class="form-control" ng-model="searchPhrase" style="height: 26px; padding: 1px;">
                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                            <a ng-href="/#/" id="btn_answer" class="btn btn-primary"
                                            ng-click="openSearch()"
                                            style="margin-right: 25px; margin-bottom: 10px; margin-top: 0px; padding-bottom: 3px;padding-top: 2px;">
                                                <img style="margin: 0" src="@routes.Assets.versioned(s"images/search.png")">
                                            </a>
                                    </div>
                                </div>
                            </div>


                    </div>
                </div>
            </div>
        </nav>

        @*style="padding-left: 10px; padding-right: 10px; margin-bottom: 30px;"*@

        <div ng-controller="MapCoordinatesCtrl" class="mycontainer" id="MapControllerElement">

            <map on-click="placeMarker()"  default-style="false"
                on-bounds_changed="boundsChanged()">
                <marker ng-repeat="pos in positions" position="{{pos.lat}}, {{pos.lng}}" on-click="openQuestion(pos.qid)"
                icon="@routes.Assets.versioned(s"images/marker/marker_{{pos.icon}}.png")"></marker>
            </map>


@if(message.isDefined){
    <span id="showquestionElement" qid="@message.get.qid" lat="@message.get.loc.get("lat")" lon="@message.get.loc.get("lon")"/>
}


        </div>

        @createQuestion()

        @question(env)

        @answer()

        @searchResult()

        @login(env)

@*
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12" ng-view></div>
            </div>

        </div>
*@

        <footer class="myfooter">
            <hr style="margin-bottom: 3px; margin-top: 3px;"/>
            <div>
                <span>&copy; DoMeFavour.info 2016</span> ver. <span app-version></span>
            </div>
        </footer>

    </body>
    <!-- angular google maps
-->
    <!-- Coffee script compiled resources (generated) -->
@*
    @for(script <- javascripts) {
        <script src='@routes.Assets.versioned(script)' type="text/javascript"></script>
    }
*@

    <script src='@routes.Assets.versioned("javascripts/app.js")' type="text/javascript"></script>

    <script src='@routes.Assets.versioned("javascripts/question.js")' type="text/javascript"></script>

    <script src='@routes.Assets.versioned("javascripts/createQuestion.js")' type="text/javascript"></script>

    <script src='@routes.Assets.versioned("javascripts/searchResult.js")' type="text/javascript"></script>

    <script src='@routes.Assets.versioned("javascripts/recentsPanel.js")' type="text/javascript"></script>

    <script src='@routes.Assets.versioned("javascripts/map.js")' type="text/javascript"></script>

    <script src='@routes.Assets.versioned("javascripts/answer.js")' type="text/javascript"></script>

    <script src='@routes.Assets.versioned("javascripts/login.js")' type="text/javascript"></script>

    @*<script src='@routes.Assets.versioned("javascripts/upload.js")' type="text/javascript"></script>*@

    <script src='@routes.Assets.versioned("javascripts/questions/QuestionService.js")' type="text/javascript"></script>

    <script src='@routes.Assets.versioned("javascripts/questions/FeedbackService.js")' type="text/javascript"></script>

    <script src='@routes.Assets.versioned("javascripts/directives/AppVersion.js")' type="text/javascript"></script>

    <script src='@routes.Assets.versioned("javascripts/common/Config.js")' type="text/javascript"></script>

    <script src='@routes.Assets.versioned("javascripts/users/UserFactory.js")' type="text/javascript"></script>

    <script src='@routes.Assets.versioned("javascripts/googlemaps/lodash.js")' type="text/javascript"></script>

    <script src='@routes.Assets.versioned("javascripts/googlemaps/angular-google-maps.js")' type="text/javascript"></script>

</html>