@(env: com.mohiva.play.silhouette.api.Environment[User, _])

@import com.mohiva.play.silhouette.impl.providers._

<div ng-controller="ModalLoginCtrl as log_in" class="container">
    <script type="text/ng-template" id="myModalLoginContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Please login</h3>
            <p>You could use one of your preferable social network account...</p>
        </div>
        <div class="modal-body">

            <div class="row" >
                <div class="col-md-12" ng-if="!isAuthenticated()">
                    @defining(env.providers.values.filter(_.isInstanceOf[SocialProvider])) { providers =>
                        @if(!providers.isEmpty) {
                            @for(p <- providers) {
                                <a href="#" ng-click="authenticate('@p.id')" class="provider @p.id">
                                    <img src="@routes.Assets.versioned(s"images/providers/${p.id}.png")"
                                        style="width:64px;height:64px; margin: 10px;">
                                </a>
                            }
                        }
                    }
                </div>
            </div>
        </div>

    </script>
</div>
