@(env: com.mohiva.play.silhouette.api.Environment[User, _])

@import com.mohiva.play.silhouette.impl.providers._


<div ng-controller="ModalQuestionViewCtrl as kak" class="container">
    <script type="text/ng-template" id="myModalQuestionViewContent.html">

        <div class="modal-header">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="modal-title">Message</h3>
                </div>
                <div class="col-sm-2 text-right">
                    <a href="?qid={{question.qid}}" title="direct link to the message">
                        <img style="margin: 0" src="@routes.Assets.versioned(s"images/link.png")">
                    </a>
                </div>

            </div>

        </div>
        <div class="modal-body">

            @questionText()

            <div class="row" ng-if="question && (!question.answers || !question.answers.length)">
                <div class="col-md-4">
                    <p><em>There are no replies yet</em></p>
                </div>
            </div>

            <div class="row" >
                <div class="col-sm-offset-2 col-sm-10 text-right">
                    <a ng-href="/#/" id="btn_answer" class="btn btn-primary"
                        ng-click="refreshQuestion()" style="margin-right: 25px; margin-bottom: 10px;">Refresh</a>

                    <a ng-href="/#/" id="btn_answer" class="btn btn-primary" ng-disabled="!isAuthenticated()"
                        ng-click="closeQuestionOpenAnswer()" style="margin-right: 5px; margin-bottom: 10px;">Reply</a>
                    <a ng-href="/#/" id="btn_login" class="btn btn-link" ng-click="openLoginWindow()"
                        ng-show="!isAuthenticated()">Please login</a>

                    <a ng-href="/#/" id="btn_delete_question" class="btn btn-danger" ng-show="question.user.providerID == 'owner'"
                         ng-click="removeQuestion(question.qid)" style="margin-right: 5px; margin-bottom: 10px;">Remove</a>
                    <a ng-href="/#/" id="btn_cancel" class="btn btn-warning"
                        style="margin-bottom: 10px;" ng-click="cancel()">Close</a>
                </div>
            </div>

            <div class="panel panel-default" style="margin-top : 5 px ;" ng-if="question.answers" ng-repeat="answer in question.answers.slice(((bigCurrentPage-1)*numPerPage), ((bigCurrentPage)*numPerPage))">
                <div class="panel-heading">Replied: <i>{{answer.created | date:'mediumDate'}}</i> by <b>{{answer.userName}}<b>
                    <a class="btn btn-xs btn-danger" ng-click="removeAnswer(answer.qid,answer.aid); " ng-if="answer.user.providerID == 'owner'">
                        <b>Remove</b>
                    </a>
                </div>
                <div class="panel-body" >
                    <div class="text-left" style="font-weight: normal">{{answer.text}}</div>
                    <ng-gallery images="answer.gallery"></ng-gallery>

                    <div class="row" >
                       <div class="col-md-12  text-right" >
                            <a ng-href="/#/" id="btn_like_{{answer.qid}}" ng-class="{'btn btn-success': true, 'like-disable': !showFeedbackAnswer(answer.aid)}"
                                style = "padding: 3px 2px 3px 8px;"
                                ng-click="likeAnswer(answer.aid)" style="margin-right: 25px;">
                                {{answer.rating}} <img style="margin: 0" src="@routes.Assets.versioned(s"images/like.png")"></a>
                            <a ng-href="/#/" id="btn_like_{{answer.qid}}" ng-class="{'btn btn-danger': true, 'dislike-disable': !showFeedbackAnswer(answer.aid)}"
                                style = "padding: 3px 2px 3px 8px;"
                                ng-click="stopAnswer(answer.aid)" style="margin-right: 25px;">
                                {{answer.badRating}} <img style="margin: 0" src="@routes.Assets.versioned(s"images/complain.png")"></a>
                        </div>
                    </div>

                </div>

            </div>

            <div style="text-align: center;" ng-show="question.answers.length > numPerPage">
                <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5"
                    class="pagination-sm" boundary-links="true" rotate="false" items-per-page="numPerPage"></pagination>
            </div>

        </div>
        <div class="modal-footer" ng-if="question && question.answers && question.answers.length">
            <a ng-href="/#/" id="btn_answer" class="btn btn-primary"
                ng-click="refreshQuestion()" style="margin-right: 25px;">Refresh</a>
            <a ng-href="/#/" id="btn_cancel" class="btn btn-warning" ng-click="cancel()">Close</a>
        </div>
    </script>
</div>
