<div class="row" >
    <div class="col-md-8">
            Asked on <i>{{question.created | date:'mediumDate'}}</i> by <b>{{question.userName}}</b>
    </div>
</div>
<div class="well" >
    <div class="row">
        <div class="col-sm-8 ">
            {{question.text}}
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12  text-right" >
            <a ng-href="/#/" id="btn_like_a" ng-class="{'btn btn-success': true, 'like-disable': !showFeedbackQuestion()}" style = "padding: 3px 2px 3px 8px;"
            ng-click="likeQuestion()" style="margin-right: 25px;">
                {{question.rating}} <img style="margin: 0" src="@routes.Assets.versioned(s"images/like.png")"></a>
            <a ng-href="/#/" id="btn_like_a" ng-class="{'btn btn-danger': true, 'dislike-disable': !showFeedbackQuestion()}" style = "padding: 3px 2px 3px 8px;"
            ng-click="stopQuestion()" style="margin-right: 25px;">
               {{question.badRating}} <img style="margin: 0" src="@routes.Assets.versioned(s"images/complain.png")"></a>
        </div>
    </div>
    <ng-gallery images="question.gallery"></ng-gallery>

</div>
