<div ng-controller="ModalSearchResultCtrl as cuc">
    <script type="text/ng-template" id="myModalSearchResultContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Search result for: <i>"{{searchPhrase}}"</i></h3>
                <span ng-show="showOnlyMine()">(only mine)</span>
            </div>
            <div class="modal-body">
                <div class="row" ng-repeat="qdata in questions.slice(((bigCurrentPage-1)*numPerPage), ((bigCurrentPage)*numPerPage))" style="padding-bottom: 10px;">
                    <div class="col-sm-1 ">
                        <a href="#" >
                            <img src="@routes.Assets.versioned(s"images/marker/marker_{{qdata.icon}}.png")" >
                        </a>
                    </div>
                    <div class="col-sm-9 ">
                        <a href="#" class="" ng-click="openQuestion(qdata.question.qid)">
                            {{qdata.question.text | limitTo:100 }}<span ng-if="qdata.question.text.length >100">...</span>
                        </a>
                    </div>
                    <div class="col-sm-2 ">
                        <a href="#" ng-click="showOnMap(qdata.question.qid)">
                            on map
                        </a>
                    </div>
                </div>
                <div class="row" ng-show="!questions.length" style="padding-bottom: 10px;">
                    <div class="col-sm-11 ">
                        <i>
                            No results.
                        </i>
                    </div>
                </div>

                <div style="text-align: center;" ng-show="questions.length > numPerPage">
                    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5"
                        class="pagination-sm" boundary-links="true" rotate="false" items-per-page="numPerPage"></pagination>
                </div>
            </div>
            <div class="modal-footer">
                <a ng-href="/#/" id="btn_cancel" class="btn btn-warning" ng-click="cancel()">Cancel</a>
            </div>

    </script>
</div>
